* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.table {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 200px);
  margin-top: 70px;
}


.card {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 3px solid black;
  list-style-type: none;
  line-height: 175px;
  font-size: 50px;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 4px 4px 5px rgba(105, 105, 105, .5);
}

.turned {
  text-indent: -9999px;
  background-image: url(./img_70657.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  
}
